<div id="account">
    <div class="card" style="border: black solid 2px;">
        <div class="card-header text-center">
            <div class="row align-items-center">
                <div class="col-md-10">
                    <i class="fa fa-user" aria-hidden="true" style="font-size: 25px;"></i>
                    <b style="font-size: 25px;">Quản lí tài khoản</b>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-primary float-right" style="color: white;" id="create-user" href="javascript:;"
                        role="button" title="Add">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">UserName</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Larry</td>
                        <td class="text-right">
                            <a class="btn btn-primary" href="javascript:;" role="button" title="Watch">
                                <i class="far fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-primary" href="javascript:;" role="button" title="lock up">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Covid</td>
                        <td class="text-right">
                            <a class="btn btn-primary" href="javascript:;" role="button" title="Watch">
                                <i class="far fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-primary" href="javascript:;" role="button" title="lock up">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>