<div id="content" style="margin:25px 50px 25px;">
    <div class="card" style="border: black solid 2px;">
        <div class="card-header text-center">
            <div class="row align-items-center">
                <div class="col-md-10">
                    <i class="fas fa-clinic-medical" aria-hidden="true" style="font-size: 25px;"></i>
                    <b style="font-size: 25px;">Quản lí địa điểm</b>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-primary float-right" style="color: white;" id="create-place" href="javascript:;"
                        role="button" title="Add">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Sức chứa</th>
                        <th scope="col">Số lượng tiếp nhận hiện tại</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Larry</td>
                        <td>15000</td>
                        <td style="padding-left: 100px">15000</td>
                        <td class="text-right">
                            <a class="btn btn-primary" href="javascript:;" role="button" title="edit">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>ABC</td>
                        <td>13000</td>
                        <td style="padding-left: 100px">15000</td>
                        <td class="text-right">
                            <a class="btn btn-primary" href="javascript:;" role="button" title="edit">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
