<div id="content">
    <form>
        <link rel="stylesheet" href="/assets/css/tooplate-main.css">
        <!-- Items Starts Here -->
        <div class="featured-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="section-heading">
                            <div class="line-dec"></div>
                            <h1>GÓI NHU YẾU PHẨM</h1>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div id="filters" class="button-group">
                            <button type="menu" class="btn btn-outline-success" data-filter="*" id="btnDefault"
                                name="sortPrice" value="0">All
                                Products</button>
                            <button class="btn btn-outline-success" data-filter=".new">Newest</button>
                            <button type="menu" class="btn btn-outline-success" data-filter=".low" id="btnLowPrice"
                                name="sortPrice" value="1">Low Price</button>
                            <button class="btn btn-outline-success" data-filter=".high" id="btnHightPrice"
                                name="sortPrice" value="-1">Hight Price</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                    </div>
                    <div id="flexdisplay" class="col-md-8 col-sm-12">
                        <div>
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        </div>

                        <div class="dropdown" style="margin-left: 10px;">
                            <select name="roomType" class="dropdown-select">
                                <option value="{{type}}">Type</option>
                                <option value="0">All</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <button id="btnFilter" style="margin-left: 10px;">
                            <p id="btnText">Filter</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="featured container no-gutter">
            <div class="row posts">
                <div id="1" class="item new col-md-4">
                    <a href="/user/buyPackages/packageDetail">
                        <div class="featured-item">
                            <img src="https://png.pngtree.com/png-vector/20190826/ourlarge/pngtree-our-services-medical-png-image_1697055.jpg"
                                alt="" width="80">
                            <h4>Y Te</h4>
                            <h6>1.000.000 VND</h6>
                        </div>
                    </a>
                </div>
                <div id="1" class="item new col-md-4">
                    <a href="/user/buyPackages/packageDetail">
                        <div class="featured-item">
                            <img src="https://png.pngtree.com/png-vector/20190826/ourlarge/pngtree-our-services-medical-png-image_1697055.jpg"
                                alt="" width="80">
                            <h4>Y Te</h4>
                            <h6>1.000.000 VND</h6>
                        </div>
                    </a>
                </div>
                <div id="1" class="item new col-md-4">
                    <a href="/user/packets/packageDetail">
                        <div class="featured-item">
                            <img src="https://png.pngtree.com/png-vector/20190826/ourlarge/pngtree-our-services-medical-png-image_1697055.jpg"
                                alt="" width="80">
                            <h4>Y Te</h4>
                            <h6>1.000.000 VND</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="page-navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li class="current-page"><input type="submit" name="page" value="1"></input></li>
                            <li><input type="submit" name="page" value="2"></input></li>
                            <li><input type="submit" name="page" value="3"></input></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script src="/public/assets/js/jquery.min.js"></script>
        <!-- Featred Page Ends Here -->
    </form>
</div>
