<div class="modal" id="addRelatedPersonModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Thêm Người Liên Quan</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Họ tên</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Số CMND</label>
                            <input type="password" class="form-control" id="inputPassword4">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputPassword4">Năm sinh</label>
                            <input type="password" class="form-control" id="inputPassword4">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputPassword4">Trạng thái</label>
                            <select id="inputState" class="form-control">
                                <option>F1</option>
                                <option>F2</option>
                                <option>F3</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-row my-0">
                        <div class="form-group col-md-12 my-0">
                            <h4>Nơi ở</h4>
                        </div>
                    </div>
                    <div class="form-row border rounded mb-1">
                        <div class="form-group col-md-4 ">
                            <label for="inputEmail4">Tỉnh/thành phố</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Quận/huyện</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Phường/xã</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-row my-0">
                        <div class="form-group col-md-12 my-0">
                            <h4>Nơi điều trị</h4>
                        </div>
                    </div>
                    <div class="form-row border rounded">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Tỉnh/thành phố</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Quận/huyện</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Phường/xã</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</div>