<div class="modal" id="detailPersonModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Chi Tiết Người Liên Quan</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Họ tên</label>
                            <h3>Kwame Fitzpatrick</h3>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Số CMND</label>
                            <h3>234185103</h3>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputPassword4">Năm sinh</label>
                            <h3>2000</h3>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputPassword4">Trạng thái</label>
                            <select id="inputState" class="form-control">
                                <option>F1</option>
                                <option>F2</option>
                                <option>F3</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-row my-0">
                        <div class="form-group col-md-12 my-0">
                            <h4>Nơi ở</h4>
                        </div>
                    </div>
                    <div class="form-row border rounded mb-1">
                        <div class="form-group col-md-4 ">
                            <label for="inputEmail4">Tỉnh/thành phố</label>
                            <h3>TP.Hồ Chí Minh</h3>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Quận/huyện</label>
                            <h3>Tân Phú</h3>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Phường/xã</label>
                            <h3>Phường 5</h3>
                        </div>
                    </div>
                    <hr />
                    <div class="form-row my-0">
                        <div class="form-group col-md-12 my-0">
                            <h4>Nơi điều trị</h4>
                        </div>
                    </div>
                    <div class="form-row border rounded">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Tỉnh/thành phố</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Quận/huyện</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Phường/xã</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row my-0">
                        <div class="form-group col-md-12 my-0">
                            <h4>Danh sách người liên quan</h4>
                        </div>
                    </div>
                    <div class="form-row my-0">
                        <div class="form-group col-md-12 my-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Họ tên</th>
                                        <th scope="col">Số CMND</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Nơi điều trị</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Chloe Shaw</th>
                                        <td>214687192</td>
                                        <td><span class="bg-warning text-white rounded p-1">F1</span></td>
                                        <td>Bệnh viện đa khoa Thủ Đức</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Jawad Lang</th>
                                        <td>213591348</td>
                                        <td><span class="bg-info text-white rounded p-1">F2</span></td>
                                        <td>Bệnh viện đa khoa tỉnh Gia Lai</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Sumaiya Drummond</th>
                                        <td>214691247</td>
                                        <td><span class="bg-success text-white rounded p-1">F3</span></td>
                                        <td>Bệnh viện đa khoa Thủ Đức</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-row my-0">
                        <div class="form-group col-md-12 my-0">
                            <h4>Lịch sử quản lí</h4>
                        </div>
                    </div>
                    <div class="form-row my-0">
                        <div class="form-group col-md-12 my-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Thời gian</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Nơi điều trị</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">20/09/2021 - 30/09/2021</th>
                                        <td><span class="bg-danger text-white rounded p-1">F0</span></td>
                                        <td>Bệnh viện đa khoa Thủ Đức</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">01/10/2021 - 15/10/2021</th>
                                        <td><span class="bg-warning text-white rounded p-1">F1</span></td>
                                        <td>Bệnh viện đa khoa Gia Lai</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
